:root {
  --default-background-color: #f7fcfc;
  --section-background-color: rgb(205, 205, 205);
  --dark-default-background-color: rgb(205, 205, 205);
  --dark-hover-color: black;
  --text-background-color:#f7fcfc;
  --sidebar-background-color: #333;
  --nav-background-color: #333;
  --homepage-background-color: rgb(205, 205, 205);
  --form-background-color: #f7fcfc;
  --fieldset-background-color: #f7fcfc;
  --menu-button-color: #f39c12;
  --menu-button-background: var(--nav-background-color);
  --add-button-color: black;
  --add-button-background: #f39c12;
  --submit-button-color: black;
  --submit-button-background: #f39c12;
  --submit-button-hover: #e67e22;
  --text-color: black;
  --light-text-color: white;
  --table-header-background-color: rgb(205, 205, 205);
  --table-even-background-color: #eaeeee;
  --special-button-color: #f39c12;
  --special-button-hover: #e67e22;
}
