/* FAQ Section Styling */
.faq-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.faq-overview {
    margin-bottom: 50px;
}

.faq-overview ul {
    list-style-type: none;
    padding: 20;
}

.faq-overview li {
    margin-bottom: 10px;
}

.faq-overview a {
    text-decoration: none;
    color: #007BFF;
}

.faq-overview a:hover {
    text-decoration: underline;
}

.faq-section {
    margin-bottom: 20px;
}

.faq-section h2 {
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
}

.faq-section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.faq-question {
    background-color: #f4f4f4;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
}

.faq-answer p {
    margin: 10px 0;
}