:root {
    --default-background-color: #f7fcfc;
    --text-background-color:#f7fcfc;
    --sidebar-background-color: #83B4FF;
    --form-background-color: #f7fcfc;
    --fieldset-background-color: #f7fcfc;
    --menu-button-color: #180bd1da;
    --menu-button-background: #83B4FF;
    --add-button-color: black;
    --add-button-background: #40b665;
    --submit-button-color: black;
    --submit-button-background: #1fc052;
    --text-color: black;
    --table-header-background-color: #83B4FF;
    --table-even-background-color: #d1dada;
  }
  